<div class="message-container" (click)="toggleShowTimestamp()">

    <div *ngIf="sentByThisUser">
        <div class="media">
            <div class="media-body message message-body">{{ message.message }}</div>
            <div class="media-right message message-person">{{ message.sender.name }}</div>
        </div>
    </div>

    <div *ngIf="!sentByThisUser">
        <div class="media">
            <div class="media-left message message-person">{{ message.sender.name }}</div>
            <div class="media-body message message-received-body">{{ message.message }}</div>
        </div>
    </div>
</div>

<div *ngIf="showTimestamp">
    Sent: {{ message.timestamp | date:'medium' }}
</div>
