.message-container {
    padding: 5px;
}

.message {
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    white-space: pre-wrap;
}

.message-body {
    background-color: #3385ff;
    color: white;
}

.message-received-body {
    background-color: #e6e6e6;
}

.message-person {
    background-color: #b3ccff;
    vertical-align: bottom;
}
