<h2>Conversations for {{ thisUser.name }}</h2>

<app-spinner [visible]="isLoading"></app-spinner>

<ul class="list-group">
    <li
        class="list-group-item"
        *ngFor="let c of conversations"
        [routerLink]="[ '/conversations', c.id ]">
            {{ otherUserForConversation(c).name }}
    </li>
</ul>
