<button class="btn btn-primary" [routerLink]="[ '/conversations' ]">Back to Conversations</button>

<h1>Conversation with {{ otherPerson.name }}</h1>

<app-spinner [visible]="isLoading"></app-spinner>

<app-message
      *ngFor="let m of messages"
      [message]="m"
      [sentByThisUser]="m.senderId === sender.id">
</app-message>

<form [formGroup]="form" >
      <div class="form-group">
            <!-- <label for="message">Message:</label> -->
            <textarea
                  class="form-control"
                  type="text"
                  placeholder="Type your message here..."
                  formControlName="message"
                  id="message"
                  (keyup.enter)="sendMessage()"
            ></textarea>
      </div>
      <button
            class="btn btn-primary btn-block"
            (click)="sendMessage()"
            [disabled]="!form.valid"
      >Send Message</button>
</form>
